.h1 {
  color:red;
}
.bigImg {
  width: 750px;
  height: 420px;
  /* background: url("./static/img/booktree.png"); */
  background-size: 100% 100%;
}
header {
  display: inline;
  margin: 1em;
  border-bottom: 1px solid black;
}
