<div id="home" class="container" ng-controller="mainCtrl">
  <div class="jumbotron">
    <h1>Hello, World!</h1>
    <p>这是一个使用 Angular1.x 构建的简单单页应用，主要的依赖库有angular、angular-ui-router、bootstrap。</p>
    <h2>
      <a ng-href={{github_url}} title="我的GitHub首页">Learn more</a>
    </h2>
  </div>

  <div class="bloc l-bloc container" id="bloc-6">
    <div class="row">
      <div class="col-sm-6">
        <h2 class="mg-lg">Night's Watch</h2>
        <h3 class="mg-sm">A Song of Ice and Fire</h3>
        <p class="mg-lg">
          Night gathers, and now my watch begins. It shall not end until my death. I shall take no wife, hold no lands, father no children.
          I shall wear no crowns and win no glory. I shall live and die at my post. I am the sword in the darkness. I am
          the watcher on the walls. I am the fire that burns against the cold, the light that wakes the sleepers, the shield
          that guards the realms of men. I pledge my life and honor to the Night's Watch, for this night, and all the nights
          to come.
        </p>
        <a  ng-href={{github_url}} class="btn  btn-lg btn-c-1 btn-sq">Watch Demo</a>
      </div>
      <div class="col-sm-6">
        <img src="./assets/codegood.jpg" class="img-responsive" />
      </div>
    </div>
  </div>
  <div class="bloc l-bloc  b-divider" id="bloc-7">
    <div class="bloc-lg">
      <div class="row">
        <div class="col-sm-3">
          <div class="text-center">
            <span class="fa fa-heart icon-round icon-md"></span>
          </div>
          <h3 class="text-center mg-md">
            Beautiful
          </h3>
          <p class="text-center">
            A little feature description could go here. A little feature description.
          </p>
        </div>
        <div class="col-sm-3">
          <div class="text-center">
            <span class="fa fa-rocket icon-round icon-md"></span>
          </div>
          <h3 class="text-center mg-md">
            Responsive
          </h3>
          <p class="text-center">
            A little feature description could go here. A little feature description.
          </p>
        </div>
        <div class="col-sm-3">
          <div class="text-center">
            <span class="fa fa-code icon-round icon-md"></span>
          </div>
          <h3 class="text-center mg-md">
            Clean
          </h3>
          <p class="text-center">
            A little feature description could go here. A little feature description.
          </p>
        </div>
        <div class="col-sm-3">
          <div class="text-center">
            <span class="fa fa-tasks icon-round icon-md"></span>
          </div>
          <h3 class="text-center mg-md">
            Optimized
          </h3>
          <p class="text-center">
            A little feature description could go here. A little feature description.
          </p>
        </div>
      </div>
    </div>
  </div>
  <go-top></go-top>
</div>