<div class="container" id="content" ng-controller="cnodeData">
  <div class="row">
    <div class="col-xs-12 col-md-9 c-border">
      <h3>{{topic.title}}</h3>
      <p>
        <span class="timeAgo">
          <b>发布于：</b>{{getTimeago()}}</span>
        <span class="badge">{{topic.visit_count}} 次浏览</span>
        <span class="badge">{{topic.reply_count}} 回复</span>
      </p>
      <hr>
      <section ng-bind-html="topic.content"></section>
      <div class="ds-post-main" ng-repeat="item in replies">
        <div class="ds-avatar">
          <a href="#">
            <img ng-src={{item.author['avatar_url']}} height="36" class="img-circle">
          </a>
        </div>
        <div class="ds-comment-body">
          <a href="#" class="user-name">{{item.author.loginname}}</a>
          <p ng-bind-html="item.content"></p>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>作者</h3>
        </div>
        <div class="panel-body">
          <img class="side-avatar img-circle" ng-src={{author.avatar_url}} width="72">
          <a ng-href="https://cnodejs.org/user/{{author.loginname}}" target="_blank">
            <h2 class="text-center">{{author.loginname}}</h2>
          </a>
        </div>
      </div>
    </div>
  </div>

</div>